<h3 style="font-size:40px">
    You have high blood pressure
</h3>
  <p  style="font-size:30px">
    Track What You Eat Some people are not aware of how many calories they eat and
    drink each day. They may underestimate how much they eat and wonder why they
    can’t lose weight. Writing down the foods you eat, including the portion
    sizes, can let you see the truth about your food intake. You can then start
    cutting back reducing calories and portions to lose weight and manage
    your blood pressure. 
    
   
      <ul  style="font-size:30px">
        <li>
    Be aware, too, of alcohol intake.</li>
    <li> Alcohol can increase
    your blood pressure, as well.</li> 
    <li>Avoid Salt (Sodium) A high-sodium diet increases
    blood pressure in many people.</li><li> In fact, the less sodium you eat, the better
    blood pressure control you might have.</li> <h2> To lower the sodium in your diet, try
    these suggestions:</h2>
    <li> Use a food diary to keep track of the salt in the foods you
    eat. </li>
    <li>Aim for less than 2,300 milligrams (about 1 teaspoon of salt) each day.
    Ask your doctor if you should go lower, to 1,500 milligrams. </li>
    <li>
      <li>Read the
    nutritional facts label on every food package. Select foods that have 5% or
    less of the “Daily Value” of sodium. Avoid foods that have 20% or more Daily
    Value of sodium. Avoid canned foods, processed foods, lunch meats, and fast
    foods. Use salt-free seasonings.</li>
      </ul>
  </p>
  