<p style="font-size:40px">
    You have low blood pressure
  </p>
  <p  style="font-size:35px">
  <h3>
      What to eat</h3>
  <p style="font-size:30px">Eating certain types of food can help you raise your blood pressure. Monitor your symptoms and regularly measure your blood pressure to see what works.
    </p>
  
      <ul  style="font-size:30px"> Try to consume:
  <li>
  More fluids. Dehydration decreases blood volume, causing blood pressure to drop. Staying hydrated is especially important when exercising.</li>
  <li>Foods high in vitamin B-12. Too little vitamin B-12 can lead to anemia, which can cause low blood pressure. </li><li>Foods high in B-12 include eggs, fortified cereals, and beef.
  Foods high in folate. Too little folate can have the same effect as too little vitamin B-12. Examples of folate-rich foods include asparagus, garbanzo beans, and liver.</li>
  <li> Salty foods can increase blood pressure. Try eating canned soup, smoked fish, cottage cheese, and olives.</li>
  <li>Licorice tea. Licorice may reduce the effect of aldosterone, the hormone that helps regulate the impact of salt on the body. Drinking licorice tea can help increase blood pressure rates, according to a case presented in the British Medical JournalTrusted Source.</li>
  <li>Caffeine. Coffee and caffeinated tea may temporarily spike blood pressure by stimulating the cardiovascular system and boosting your heart rate.</li></ul>
  </p>
  