<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="../public/stylesheets/w3.css" />
    <title>Naari</title>
  </head>
  <body>
    <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="#home" class="w3-bar-item w3-button"
          ><h2><b>Naari</b></h2>
          We Celebrate Womanhood</a
        >
        <!-- Float links to the right. Hide them on small screens -->

        <div class="w3-right w3-hide-small">
          <a href="/recommendeddoctors" class="w3-bar-item w3-button"
            ><h5><b>Recommend Doctors</b></h5></a
          >
          <a href="#projects" class="w3-bar-item w3-button"
            ><h5><b>About</b></h5></a
          >
          <a href="/queries" class="w3-bar-item w3-button"
            ><h5><b>Queries</b></h5></a
          >
          <a href="/rankeddoctors" class="w3-bar-item w3-button"
            ><h5><b>Doctors</b></h5></a
          >
          <a href="/login"
            ><button class="w3-button w3-black w3-section">Login</button></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
