<!DOCTYPE html>
<html>
  <title>Naari</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="../public/stylesheets/w3.css" />

  <body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="#home" class="w3-bar-item w3-button"
          ><h2><b>Naari</b></h2>
          We Celebrate Womanhood</a
        >
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
          <a href="/recommendeddoctors" class="w3-bar-item w3-button"
            ><h5><b>Recommend Doctors</b></h5></a
          >
          <a href="#projects" class="w3-bar-item w3-button"
            ><h5><b>About</b></h5></a
          >
          <a href="/ask" class="w3-bar-item w3-button"
            ><h5><b>Queries</b></h5></a
          >
          <a href="/rankeddoctors" class="w3-bar-item w3-button"
            ><h5><b>Doctors</b></h5></a
          >
          <a href="/login"
            ><button class="w3-button w3-black w3-section">Login</button></a
          >
        </div>
      </div>
    </div>

    <!-- Header -->
    <header
      class="w3-display-container w3-content w3-wide"
      style="max-width:1500px;"
      id="home"
    >
      <img
        class="w3-image"
        src="images/background3.jpg"
        alt="background1"
        width="1500"
        height="800"
      />
      <div class="w3-display-middle w3-margin-top w3-center">
        <h5 class="w3-xxlarge w3-text-white">
          <span class="w3-padding w3-black w3-opacity-min"
            >Pregnancy is special; let us make it safe. </span
          ><!-- <span class="w3-hide-small w3-text-light-grey">Pregnancy is special; let us make it safe”. </span>-->
        </h5>
      </div>
    </header>

    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">
      <!-- Project Section -->
      <div class="w3-container w3-padding-32" id="projects">
        <h1
          class="w3-border-bottom w3-border-light-grey w3-padding-16"
          style="text-align:center;"
        >
          <b>PROJECTS</b>
        </h1>
      </div>

      <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">
              Summer House
            </div>
            <img src="images/house5.jpg" alt="House" style="width:100%" />
          </div>
        </div>
      </div>

      <!-- About Section -->
      <div class="w3-container w3-padding-32" id="about">
        <h1
          class="w3-border-bottom w3-border-light-grey w3-padding-16"
          style="text-align:center;"
        >
          <b>ABOUT</b>
        </h1>
        <p>
          Nari is a web application itegrated with automated Nepali text sms
          system focused to promote healthy life of both rural and urban
          population.Nari is not just a web app but its us.Its small enough to
          protect and large enough to healWe really hope this will be useful to
          everyone of you in any way and also thank you for appreciating and
          investing your precious time reading about us.
        </p>
      </div>

      <!----Doctors-->
      <div class="w3-container w3-padding-32" id="doctors">
        <h1
          class="w3-border-bottom w3-border-light-grey w3-padding-16"
          style="text-align:center;"
        >
          <b>DOCTORS</b>
        </h1>
        <!--position to use ejs loop for doctors-->
        <div class="w3-row-padding w3-grayscale">
          <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="images/team2.jpg" alt="John" style="width:100%" />
            <h3>John Doe</h3>
            <p class="w3-opacity">CEO & Founder</p>
            <p>
              Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
              sodales pellentesque elementum.
            </p>
            <p>
              <button class="w3-button w3-light-grey w3-block">Contact</button>
            </p>
          </div>
        </div>
      </div>

      <!-- Contact Section -->
      <div class="w3-container w3-padding-32" id="contact">
        <h1
          class="w3-border-bottom w3-border-light-grey w3-padding-16"
          style="text-align:center;"
        >
          <b>CONTACT</b>
        </h1>
        <p>Lets get in touch and talk about your next project.</p>
        <form action="/action_page.php" target="_blank">
          <input
            class="w3-input w3-border"
            type="text"
            placeholder="Name"
            required
            name="Name"
          />
          <input
            class="w3-input w3-section w3-border"
            type="text"
            placeholder="Email"
            required
            name="Email"
          />
          <input
            class="w3-input w3-section w3-border"
            type="text"
            placeholder="Subject"
            required
            name="Subject"
          />
          <input
            class="w3-input w3-section w3-border"
            type="text"
            placeholder="Comment"
            required
            name="Comment"
          />
          <button class="w3-button w3-black w3-section" type="submit">
            <i class="fa fa-paper-plane"></i> SEND MESSAGE
          </button>
        </form>
      </div>

      <!-- End page content -->
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-16">
      <p>
        Powered by
        <a
          href="https://www.w3schools.com/w3css/default.asp"
          title="W3.CSS"
          target="_blank"
          class="w3-hover-text-green"
          >ALL RIGHTS RESERVED © 2019 nari</a
        >
      </p>
    </footer>
  </body>
</html>
